@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;

}

.row {
  gap: 1fr;
  grid-auto-flow: row;
  grid-template-columns: 30% 30% 30%;;
}

.img {
  max-width: 100%;
}

